* {
    box-sizing: border-box;
}

body {

    margin: 0px;
    padding: 0px;
}

html { 
    background-image: linear-gradient(to bottom, #F49824, #DF4147, #AE3770, #8A4180, #642F8A, #224BC1, #0F81B3, #149989, #1DAA5B ); 
    background-attachment: fixed;
}