
.barra{
  background-color: black;
  position: fixed;
  top: 0;
  height: 45px;
  width: 100%;

}

h1{
  position: absolute;
  bottom: -25px;
  left: 52px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  z-index: 1;

}

.pai{
  width: 100%;

}

#square1 {
  width: 8%;
  height: 130px;
  background-color: white;
  margin: 50px;
  box-shadow: 0 0 30px 2px black;
}

#square2 {
  width: 8%;
  height: 130px;
  background-color: white;
  margin: 50px;
  box-shadow: 0 0 30px 2px black;
}

#square3 {
  width: 8%;
  height: 130px;
  background-color: white;
  margin: 50px;
  box-shadow: 0 0 30px 2px black;
}

#square4 {
  width: 8%;
  height: 130px;
  background-color: white;
  margin: 50px;
  box-shadow: 0 0 30px 2px black;
}

#square5 {
  width: 8%;
  height: 130px;
  background-color: white;
  margin: 50px;
  box-shadow: 0 0 30px 2px black;
}

#square6 {
  width: 8%;
  height: 130px;
  background-color: white;
  margin: 50px;
  box-shadow: 0 0 30px 2px black;
}

#square7 {
  width: 8%;
  height: 130px;
  background-color: white;
  margin: 50px;
  box-shadow: 0 0 30px 2px black;
}

#square8 {
  width: 8%;
  height: 130px;
  background-color: white;
  margin: 50px;
  box-shadow: 0 0 30px 2px black;
}

#square9 {
  width: 8%;
  height: 130px;
  background-color: white;
  margin: 50px;
  box-shadow: 0 0 30px 2px black;
}
