
.barra{
  background-color: black;
  position: fixed;
  top: 0;
  height: 45px;
  width: 100%;

}

h1{
  position: absolute;
  bottom: -25px;
  left: 52px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  z-index: 1;

}

.pai{
  width: 100%;

}

.square {
  
  height: 115px;
  background-color: white;
  margin: 100px;
  box-shadow: 0 0 30px 2px black;
}

h1.menuInPage {
  position: fixed;
  margin-left: 41%;
  color: white;
  margin-bottom: 50%;
}